<h1>app component works! </h1>
<img [src]="image" alt="...">
<img src={{image}} alt="...">
<ul>
  <li *ngFor="let name of names">{{ name }}</li>
</ul>
<ul>
  <li *ngFor="let property of person1 | keyvalue">{{ property.key }}: {{ property.value }}</li>
</ul>

<div>
  <h2>{{catInfo.name}}</h2>
  <img src={{catInfo.image}}>
</div>

<ul *ngFor="let book of books">
  <li>{{book.title}}</li>
</ul>


<ul *ngFor="let student of students">
  <li *ngIf="student.age > 10">{{student.name}}</li>
</ul>
<div>
  Enter Your Name: <input type="text" [(ngModel)]="name" /> <br/>
  <button (click)="greet()">Greet Me!</button>
</div>